* {
  margin: auto;
  box-sizing: border-box;
}

body {
  background: rgb(30, 214, 181);
  color: antiquewhite;
  font-size: 14px;
}

.nombre {
  background: grey;
}

nav ul li a {
  color: red;
}

nav ul li a:hover {
  color: aquamarine;
}
nav ul {
  background: white;
  display: flex;
}

.logo {
  width: 70px;
}

.icono {
  padding-right: 400px;
}
